/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Styling the header */
header {
    background-color: #8A97D6; /* Sample primary color */
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

/* Main content and sections */
section {
    padding: 40px 0;
}

.alt-section {
    background-color: #EAE7F8; /* Sample secondary color */
}

.service-item {
    margin: 20px 0;
    padding: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.service-item:hover, .service-item:focus {
    transform: scale(1.05);
}

footer {
    background-color: #6D7EAD; /* Darker shade of primary color */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 768px) {
    nav ul {
        padding-top: 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}


/*slides
/* Slider Styles */
.slider-container {
    position: relative;
    max-width: 1000px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    min-width: 100%;
    transition: ease 0.5s;
    background-size: cover;
    background-position: center;
  }
  
  /* Slider Controls */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  